<?xml version="1.0" encoding="utf-8"?>
<jnlp codebase="http://www.ic.uff.br/~ccesario/DyeVC/" href="DyeVC.jnlp" spec="6.0+">
    <information>
        <title>DyeVC</title>
        <vendor>GEMS-UFF</vendor>
        <homepage href="http://www.ic.uff.br/~ccesario"/>
        <description kind"one-line">DyeVC</description>
        <description kind="short">DyeVC - Dye over Version Control</description>
        <description kind="tooltip">DyeVC - Dye over Version Control</description>
        <offline-allowed/> 
        <shortcut online="false" install="true">
            <desktop/>
            <!--<menu submenu="DyeVC"/> -->
        </shortcut>
    </information>
    <update check="always" policy="prompt-update"/>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
        <property name="jnlp.versionEnabled" value="true"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass">
    </application-desc>
</jnlp>